#cuad{
    display: block;
    background-color: red;
    width: 100px;
    height: 200px;;
}

#cont{
    width: 250px;
    height: 300px;
    background-color: black;
}




.container{
    width: 200px;
    overflow:hidden;
    display:block;
    height: 360px;
}
#glass{
    margin-left: -220px;
}




@font-face {
    font-family: "Amatic";
    src: url("./AmaticSC-Regular.ttf");
    }

@font-face {
        font-family: 'Chrono Trigger';
        src: url('Chrono-Trigger.woff2') format('woff2'),
            url('Chrono-Trigger.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Press Start K';
    src: url('PressStartK.eot');
    src: url('PressStartK.eot?#iefix') format('embedded-opentype'),
    url('PressStartK.woff2') format('woff2'),
    url('PressStartK.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    
}


body{
    width:317px;
    height: 500px;
    background-color: black;
}
.container-pj{
    
    background-repeat: no-repeat;
    display: grid;
    grid-template: 
    "cab cab cab" 5vh
    "lacuerpa lacuerpa lacuerpa"  70vh
    ". options." 25vh
    /1fr 1fr 1fr

}
.cab{
    display: grid;
    grid-area: cab;
}

.lacuerpa{
    grid-area: lacuerpa;
    /* background-color: black; */
    display: grid;
    grid-template: 
    ". login ." 
    ". newuser ."
    /1fr 1fr 1fr;
}
.login{
    grid-area: login;
}
.newuser{
    grid-area:newuser;
}


.pj{
    grid-area: pj;
    grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: span 3;
    zoom: 0.8;
    /* right: -41px; */
    display: grid;
    grid-template:
    "cuerpo cuerpo"
    "vestimenta vestimenta"
    /1fr 1fr;
}

.fondo{
    grid-area: fondo;
    /* position: relative; */
    /* grid-row-start: 1; */
    /* grid-column-start: 1; */
    /* grid-row-end: 4; */
    /* width: 313px; */
    overflow: hidden;
    z-index: 0;
}

#camp{
    width: 580%;
    position: relative;
    top: -6px;
    right: 169px;
    height: 352px;
    z-index: -2;
}



#cementerio{
    width: 580%;
    position: relative;
    top: -6px;
    right: 269px;
    /* height: 303px; */
    z-index: -2;
}
#sombra{
    z-index: 3;
    /* z-index: 2; */
    position: relative;
    top: -356px;
    right: 25px;
    opacity: 0.9;
}

.options{
    font-family: 'Amatic';
    justify-items: center;
    align-items: center;
    color: #c77b7b;
    font-size: 2.5rem;
    z-index: 1;
    display: grid;
    grid-area: options;
    grid-template: "op1 op2 op3"
 ". . ."
 ". . . "
 /1fr 1fr 1fr;
    /* color: black; */
    /* background-color: black; */
    /* box-shadow: inset -2px -1px 6px #f1eaea; */
    text-shadow: 3px 2px 1px #bc2323;
}

.op1{grid-area: op1;}
.op2{grid-area: op2;}
.op3{grid-area: op3;}

.vestimenta{
    position: absolute;
    top: 24px;
    right: 290px;
    grid-area: vestimenta;
}
.cuerpo{
    position: absolute;
    /* top: 36px; */
    /* right: 22px; */
    grid-area: cuerpo;
}
.hats{
    z-index: 3;
    position: absolute;
    top: 16px;
    right: -221px;
}
.chest{
    top: -8px;
    z-index: 3;
    position: absolute;
    top: 14px;
    right: -224px;
}
.pants{
    top: 31px;
    left: 56px;
    z-index: 2;
    position: absolute;
}

.feets{
    top: 18px;
    left: 53px;
    z-index: 2;
    position: absolute;
}
.shield{
    top: 13px;
    left: 24px;
    z-index: 5;
    position: absolute;
}
.weapon{
    top: 13px;
    left: 16px;
    z-index: 3;
    position: absolute;
}

a{
    text-decoration: none;
}

.options p {
    text-decoration: none;
    box-shadow: 2px 2px 0px 0px #d40d0d;
    border-radius: 31px;
}

.options div:hover{
    animation-name: menu;
    animation-duration: 1s;
}

@keyframes menu{
    0% {}
    50% {transform: rotateX(150deg);}
    100% {transform: rotateX(350deg);}
}

.mainTitulo{
    text-align: center;
    font-family: 'Amatic';
   color: #d40d0d;
    font-size: 1.5rem;
    z-index: 1;
   
}
.mainTitulo p{
    text-align: center;
    background-color: yellow;
    animation-name: menu;
    animation-duration: 1s;
    border-radius: 13px;
    width: 80%;
    margin: auto;
    box-shadow: 2px 6px 0px 0px #ff1212;
    z-index: 5;
    
}

video{
    width: 623px;
    overflow: hidden;
}


#skele{
    z-index: 1;
}


